<nav style="background-color: darkslategrey; color: white;">
    <div class="title">
        <a href="/blogs"><h1 style="color: white;">Blogs</h1></a>
        <p style="color: white;">Welcome to Blog Space</p>
        <hr>
    </div>
    <div class="nav-class">
        <ul>
            <li><a href="/blogs" style="color: white;font-size: x-large;">Blogs</a></li>
            <li><a href="/blogs/about" style="color: white;font-size: x-large;">About</a></li>
            <li><a href="/blogs/create" style="color: white;font-size: x-large;">Create Blog</a></li>
        </ul>
    </div>
</nav>