<nav>
    <div class="title">
        <a href="/blogs"><h1>Blogs</h1></a>
        <p>Welcome to Blog Space</p>
        <hr>
    </div>
    <div class="nav-class">
        <ul>
            <li><a href="/blogs">Blogs</a></li>
            <li><a href="/blogs/about">About</a></li>
            <li><a href="/blogs/create">New Blogs</a></li>
        </ul>
    </div>
</nav>