<!DOCTYPE html>
<html lang="en">
    <%-include("./partials/header.ejs")%>
<body>
    <%-include("./partials/navbar.ejs")%>
    <div class="about content">
        <h1>About Us</h1>
        <br/>
        <p style="font-size: larger;">Welcome to blog space</p style="font-size: larger;">
        <p style="font-size: larger;">in this site we can create write delete blogs</p style="font-size: larger;">
        <p style="font-size: larger;">Many more exciting things to come</p style="font-size: larger;">
    </div>
    <%-include("./partials/footer.ejs")%>
</body>
</html>